<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
        type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="connectionString"
        connectionString="Data Source=DESKTOP-2HM0EJ8\SQLEXPRESS;Initial Catalog=asdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <add key="directory" value="C:\Users\Yunani\Downloads" />
    <!-- Name of pdf file always contains only digits and underscore, so its safe to use semicolon as delimiter -->
    <add key="files" value="001_200901.pdf;002_200901.pdf;003_200901.pdf;004_200901.pdf;005_200901.pdf;006_200901.pdf" />
  </appSettings>
</configuration>